*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, hr , h6
{
    text-align:  center;

    color: #F99417;
}

body
{
        text-align: center;
            text-transform: capitalize;
            color: #F5F5F5;
            font-size: large;
        background-color: #363062;
}

.navbar
{
    width:  100%;
    background-color: #4D4C7D;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.navbar ul
{
    list-style-type: none;
    text-decoration:  none;
    /* padding:  100px; */
    margin: 0;
    overflow: hidden;


}

.navbar a
{
    color : #F5F5F5;
    text-decoration:  none;
    padding:  15px;
    display: block;
    text-align:  center;



}
.navbar a:hover
{
    background-color: #F99417;
    border-radius: 8px;
}
.navbar li
{
    float: left;

}
.select_menu
{
    border-bottom: #F99417 solid 3px;
}
footer
{
    padding: 4x;
    margin:  0px;
    left: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: #F99417;
    color : #F5F5F5;
    font-size: large;
    background-color: #4D4C7D;
    text-align: center;

}

.download
{
    color: #F5F5F5;
    background-color: #4D4C7D;
    font-size: x-large;
    width: 100%;
    overflow: hidden;
    height: 30px;
    margin: 10px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-indent: 25%;
    text-align: center;
    border-radius: 10px;

}

.download :hover
{
    background-color: #F99417;
    padding:  5px;

    top:  5px;
    left: 50%;
    text-decoration: none;
    text-indent: 25%;

}
.download  a
{
    color: #F5F5F5;
}
